.score-table-wrapper {
    margin: 5vh 20vh;
    background-color: var(--color4);
    padding: 5vh;
    border-radius: 25px;
    box-sizing: border-box;
}

.score-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    color: var(--color2);
    text-align: center;
    font-family: "sofia-pro", sans-serif;
}

.score-table th,
.score-table td {
    padding: 1rem 1.25rem;
    font-size: 2rem;
    white-space: nowrap;
}

.score-table thead {
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
}

.score-table th {
    font-size: 3rem;
    font-weight: 600;
    opacity: 0.9;
}

.score-table tbody tr:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.score-table th,
.score-table td {
    width: 25%;
    text-align: center;
}

.score-table th:first-child,
.score-table td:first-child {
    text-align: center;
}

@media (max-width: 767px) {
    .score-table-wrapper {
        margin: 4vh 3vh;
        padding: 3vh;
    }

    .score-table th,
    .score-table td {
        padding: 1rem 1rem;
        font-size: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .score-table-wrapper {
        margin: 4vh 3vh;
        padding: 1vh 3vh;
    }

    .score-table th,
    .score-table td {
        font-size: 2em;
    }
}