.map-container {
    width: 100%;
    height: 90dvh;
    position: relative;
}

.compare-mode-btn {
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 10;
    background: var(--color3);
    color: var(--color2);
    border: none;
    padding: 12px 20px;
    border-radius: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease;
}

.compare-mode-btn.active {
    background: red;
    transform: scale(1.05);
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(231, 76, 60, 0.7);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(231, 76, 60, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(231, 76, 60, 0);
    }
}